@model UniChatApplication.Models.TeacherProfile

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/TeacherManagement/StyleDelete.css">
<link rel="stylesheet" href="~/css/cssPlus/buttonPlus.css">

<div class="container">
    <h1 class="text-center">Teacher Management</h1>
    <hr>
    <div class="p-2 text-danger">
        <h4><i>Do you want to complete delete?</i></h4>
    </div>

    <div class="d-flex" style="gap: 1rem;">
        <div class="avatar-box">
            <img src="~/images/4521373.jpg" alt="">
        </div>
        <table class="table table-bordered table-sm">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>@Model.Account.Username</td>
                </tr>
                <tr>
                    <th>FullName</th>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>@Model.Birthday</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@Model.GenderText</td>
                </tr>
                <tr>
                    <th>TeacherCode</th>
                    <td>@Model.TeacherCode</td>
                </tr>
            </tbody>
        </table>
    </div>


    <form asp-action="Delete" class="d-flex" style="gap: 1rem;">
        <input type="hidden" asp-for="Id" />

        <a class="button-2 text-white text-decoration-none" asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="button-3 text-white text-decoration-none"/>
    </form>
</div>
