@model IEnumerable<UniChatApplication.Models.TeacherProfile>

@{
    ViewData["Title"] = "Index";
}

<style>
    table {
        font-family: 'Times New Roman', Times, serif;
    }

    table thead {
        background-color: #22f;
        color: #fff;
    }

    h1 {
        font-weight: 600;
    }
</style>

<div class="container">
    <h1 class="text-center">Teacher Management</h1>
    <div class="create py-2">
        <a class="btn btn-outline-primary" asp-action="Create">Create</a>
    </div>
    <hr>
    <h3 class="text-center">List of Teachers</h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Gender</th>
                <th>TeacherCode</th>
                <th>Configure</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.Account.Username</td>
                    <td>@item.GenderText</td>
                    <td>@item.TeacherCode</td>
                    <td class="d-flex" style="gap: 1rem;">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
