@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
</div>

<div>@ViewBag.errorMessage</div>

<h2>Role List</h2>
<ul>
    @foreach(var item in ViewBag.Roles)
    {
        <li>
            @item.Id: @item.Name - @item.Accounts
            <ol>
                @if (item.Accounts != null)
                {
                    @foreach (var ac in item.Accounts)
                    {
                        <li>- @ac.Username</li>
                    }
                }

            </ol>
        </li>
    }
    
</ul>

<h2>Account List</h2>
<ul>
    @{
        foreach (var item in ViewBag.Accounts)
        {
            <li>@item.Id: @item.Username- @item.Password - @item.Role.Name</li>
        }
    }
</ul>