@model IEnumerable<RoomDeadLine>

@{
    ViewData["Title"] = "RoomDeadline Management";
}


<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: monospace, sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 60px;
        padding: 2rem;
        box-shadow: 0 0 5px 1px blue;
        border-radius: 5px;
    }

    table {
        margin-bottom: 0 !important;
        border-radius: 5px;
        overflow: hidden;
    }

    .d-box {
        padding: 1.5rem;
        border: 1px solid skyblue;
        position: relative;
        border-radius: 5px;
    }

    .new:before {
        content: "News";
        position: absolute;
        color: red;
        background-color: white;
        font-size: 1.2rem;
        padding: 0 5px;
        top: 0;
        left: 1rem; 
        transform: translateY(-50%);
    }

    .old:before {
        content: "Olds";
        position: absolute;
        color: green;
        background-color: white;
        font-size: 1.2rem;
        padding: 0 5px;
        top: 0;
        left: 1rem; 
        transform: translateY(-50%);
    }

</style>

<div class="container">

    <h2 class="text-center text-primary font-weight-bold">DeadLine</h2>
    
    <div>
        <a class="button-3 text-white text-decoration-none" asp-controller="Box" asp-action="RoomChat" asp-route-id="@ViewBag.roomChat.Id">Back</a>
        @if (ViewBag.LoginUser.RoleName == "Teacher"){
            <a class="button-2 text-white text-decoration-none" asp-action="Create" asp-route-RoomId="@ViewBag.RoomChat.Id">Create</a>
        }
    </div>
    <h4 class="text-center">
        <span class="text-success">@ViewBag.RoomChat.Class.Name - @ViewBag.RoomChat.Subject.FullName</span>
    </h4>

    
    <div class="d-box new">
        <table class="table table-bordered table-info text-center">
            <thead class="bg-danger text-white">
                <tr>
                    <th>Number</th>
                    <th>Content</th>
                    <th>Expiration Time</th>
                    @if (ViewBag.LoginUser.RoleName == "Teacher"){
                        <th>Options</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (RoomDeadLine item in Model)
                    {   
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Content</td>
                            <td>@item.ExpirationTime</td>
                            @if(ViewBag.LoginUser.RoleName == "Teacher"){
                                <td>
                                    <a class="btn btn-danger" name="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    <a class="btn btn-success" name="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr>
    <div class="d-box old">
        <table class="table table-bordered table-success text-center">
            <thead class="bg-success">
                <tr>
                    <th>Number</th>
                    <th>Content</th>
                    <th>Expiration Time</th>
                    @if (ViewBag.LoginUser.RoleName == "Teacher"){
                        <th>Options</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    i = 0;
                    foreach (RoomDeadLine item in ViewBag.OldDeadLineList)
                    {   
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Content</td>
                            <td>@item.ExpirationTime</td>

                            @if(ViewBag.LoginUser.RoleName == "Teacher"){
                                <td>
                                    <a class="btn btn-danger" name="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    <a class="btn btn-success" name="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>

    $(document).ready(function(){

        $("a[name='delete']").click(function(e){
            if (!confirm("Do you want to delete the deadline?")){
                e.preventDefault();
            }
        })
        
    })

</script>