@model GroupChat
@{

    ViewData["Title"] = "BoxChat";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/cssPlus/buttonPlus.css">
<link rel="stylesheet" href="~/css/StyleBox/StyleRoomChat.css">

<body>
    <div class="container">
        <div class="row box">
            @************************* User (Left) **************************** *@
            <div class="col-sm-4 user border-right">
                @* User tools include: profile and logout *@
                <div class="">
                    <div class="d-flex justify-content-around">
                        @* Back *@
                        <a asp-controller="Box" asp-action="Index" class="button-2 w-25 text-decoration-none text-white">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        @* Profile *@
                        <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@ViewBag.LoginUser.Id"
                        class="button-1 w-25 text-white">
                            <i class="fa fa-user"></i>
                        </a>
                        
                        @* Logout *@
                        <a asp-controller="Login" asp-action="Logout" class="button-3 w-25 text-decoration-none text-white">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </div>

                <hr>
                @* Drawer *@

                @* ------------------ Room chat -------------------- *@

                <div class="d-flex m-2 p-1">
                    <h4>Room Chat</h4>
                </div>

                @* Scroller for room chat *@
                <div class="scroller">
                    @* Friend drawer *@
                    @foreach (RoomChat item in ViewBag.RoomChats)
                    {

                        <a asp-action="RoomChat" asp-route-id="@item.Id" class="friend-drawer text-decoration-none">
                            @* Room avatar *@
                            <img class="profile-image"
                            src="https://www.ecoblader.com/wp-content/uploads/2013/02/ecoblader-facebook.jpg" alt="">
                            @* Room name *@
                            <div class="friend-drawer-text text-dark ">
                                <h4 class="mb-0">@item.Subject.SubjectCode</h4>
                            </div>
                        </a>
                        <br>
                    }
                </div>
                <br>
                @* ------------------ Group chat -------------------- *@
                <div class="d-flex m-2 p-1">
                    <h4>Group</h4>
                    @if (ViewBag.LoginUser.RoleName == "Student") 
                    {
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-sm "><i class="fa fa-plus"></i></button>
                        </div>
                    }
                </div>
                @if (ViewBag.LoginUser.RoleName == "Student")
                {
                    @* Scroller for group chat *@
                    <div class="scroller">
                        @* Friend drawer *@
                        @foreach (GroupChat item in ViewBag.GroupChats)
                        {
                            <a class="friend-drawer text-decoration-none">

                                <img class="profile-image" src="https://www.ecoblader.com/wp-content/uploads/2013/02/ecoblader-facebook.jpg" alt="">

                                <div class="friend-drawer-text d-flex align-items-center">
                                    @* Name group *@
                                    <h4 class="mb-0">@item.RoomChat.Subject.SubjectCode</h4>
                                </div>
                            </a>
                            <br>
                        }
                    </div>
                }
                else if (ViewBag.LoginUser.RoleName == "Teacher")
                {
                    @* Scroller for group chat *@
                    <div class="scroller">
                        @* Friend drawer *@
                        <ol class="d-flex flex-column px-4" style="font-size: 1.2rem; gap: .2rem;">
                            @foreach (GroupChat item in ViewBag.GroupChats)
                            {
                                <li>@item.Name</li>
                            }
                        </ol>
                    </div>
                }
            </div>

            @* ************************ Chat (Right)) **************************** *@
            <div class="col-sm-8 chat">
    
                <div class="room-name">
                    @* Room name *@
                    <div class="d-flex align-items-center justify-content-center text-dark">
                        <h4 class="text-success">
                            <a asp-controller="RoomChat" asp-action="Details" asp-route-id="@Model.Id">
                                @Model.Name - @Model.RoomChat.Subject.SubjectCode
                            </a>
                        </h4>
                    </div>
                </div>

                @* Message pin and deadline pin *@
                <div>
                    <div class="row pin setting-tray">
                        @* Message pin *@
                        <div class="message-pin col-sm-8">
                            @if (ViewBag.MessagePin != null)
                            {
                                <h6 class="time">Message pin: <small>   
                                </small></h6>
                                <p style="font-size: .9rem;">
                                        <span></span>
                                </p>
                            }
                            else {
                                <h6 class="time">Message pin: <small></small></h6>
                                <p style="font-size: .9rem;"></p>
                            }
                        </div>

                    </div>
                </div>

                @* Button for show and hide pin *@
                <div class="col-sm-1 display-pin d-flex align-items-center justify-content-center m-2"
                    style="z-index: 99; position: absolute;">
                    <button class="btn btn-secondary btn-pin btn-sm"><i class="fa fa-plus"></i></button>
                </div>

                @* Chat main *@
                <div class="chat-container scroller-chat">

                    <ul class="chat-box" name="room-@Model.Id">

                        <li class="chat-right d-none" id="chat-right" >
                            <div class="pin-button d-flex align-items-center m-1">
                                <button class="btn btn-sm" style="height: 2rem; width: 2rem;"> <i
                                class="fa fa-thumbtack"></i></button>
                            </div>

                            @* User chat time *@
                            <div class="chat-hour"></div>
                            @* User message *@
                            <div class="chat-text" style="background-color: rgb(85, 200, 250, 0.4);">
                                
                            </div>
                            @* User avatar and name *@
                            <div class="chat-avatar">
                                <img src="" alt="Me">
                                <div class="chat-name">Me</div>
                            </div>
                        </li>

                        <li class="chat-left d-none" id="chat-left">
                            <div class="chat-avatar">
                                <img src="" alt="">
                                <div class="chat-name"></div>
                            </div>
                            <div class="chat-text">
                                
                            </div>
                            <div class="chat-hour"></div>

                            <div class="pin-button d-flex align-items-center m-1">
                                <button class="btn btn-sm" style="height: 2rem; width: 2rem;"><i
                                class="fa fa-thumbtack"></i></button>
                            </div>
                        </li>

                        @foreach (GroupMessage item in ViewBag.Messages)
                        {
                            if (item.AccountId == ViewBag.LoginUser.Id)
                            {
                                <li class="chat-right">
                                    <div class="pin-button d-flex align-items-center m-1" target="@item.Id">
                                        <button class="btn btn-sm" style="height: 2rem; width: 2rem;"> <i
                                        class="fa fa-thumbtack"></i></button>
                                    </div>

                                    @* User chat time *@
                                    <div class="chat-hour">@item.TimeMessage.ToShortTimeString()</div>
                                    @* User message *@
                                    <div class="chat-text" style="background-color: rgb(85, 200, 250, 0.4);">
                                        @item.Content
                                    </div>
                                    @* User avatar and name *@
                                    <div class="chat-avatar">
                                        <img src="@ViewBag.LoginProfile.Avatar" alt="Me">
                                        <div class="chat-name">Me</div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="chat-left text-center">
                                    <div class="chat-avatar">
                                        @{
                                            string url = "";
                                            if (item.Account.RoleName == "Teacher"){
                                                url = item.Account.TeacherProfile.Avatar;
                                            }
                                            else if (item.Account.RoleName == "Student"){
                                                url = item.Account.StudentProfile.Avatar;
                                            }
                                        }
                                        <img src="@url" alt="@item.Account.Username">
                                        <div class="chat-name">@item.Account.Username</div>
                                    </div>
                                    <div class="chat-text">
                                        @item.Content
                                    </div>
                                    <div class="chat-hour">@item.TimeMessage.ToShortTimeString()</div>

                                    <div class="pin-button d-flex align-items-center m-1" target="@item.Id">
                                        <button class="btn btn-sm" style="height: 2rem; width: 2rem;">
                                            <i class="fa fa-thumbtack"></i>
                                        </button>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div>
                    <form method="post" autocomplete="off" id="send-form">
                        <input type="hidden" name="GroupID" value="@Model.Id">
                        <input type="text" name="Message" class="form-control" placeholder="Text...">
                        <button type="submit" class="button-1">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>

    $(document).ready(function () {
        $(".display-pin").click(function (e) {
            $('.pin').toggle("slow");
        });

        var pinBtnClick = function (e)
        {
            let messageId = $(this).attr("target");
            $.ajax({
                url: "/Box/PinMessage/",
                type: "POST",
                data: { roomMessageId: messageId },
                success: function (data, textStatus, xhr) {
                    $(".message-pin p").text(data.content);
                    $(".message-pin .time small").text(data.time);
                },
                error: function (jqXhr, textStatus, errorMessage) {

                    console.log("pin Message Failed!");
                }
            });
        }

        $(".pin-button").click(pinBtnClick);

        $(".scroller-chat").animate({
            scrollTop: 1000000
        }, 800);

        const connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.on("GetGroupMessage", function (username, message, messageId, avatar, time) {

            if (username == "@ViewBag.LoginUser.Username") {
                let li = $("#chat-right").clone();
                li.removeAttr("id");
                li.attr("class", "chat-right");
                li.find(".chat-hour").text(time);
                li.find(".chat-text").text(message);
                li.find(".chat-name").text("Me");
                li.find(".pin-button").attr("target", messageId);
                li.find(".pin-button").click(pinBtnClick);
                li.find("img").attr("src", avatar);
                li.find("img").attr("alt", "Me");
                li.appendTo($(".chat-box"));
            }
            else {
                let li = $("#chat-left").clone();
                li.removeAttr("id");
                li.attr("class", "chat-left");
                li.find(".chat-hour").text(time);
                li.find(".chat-text").text(message);
                li.find(".chat-name").text(username);
                li.find(".pin-button").attr("target", messageId);
                li.find(".pin-button").click(pinBtnClick);
                li.find("img").attr("src", avatar);
                li.find("img").attr("alt", username);
                li.appendTo($(".chat-box"));
            }

            $(".scroller-chat").animate({
                scrollTop: 1000000
            }, 800);

            $("#send-form").find("input[name='Message']").val(null);

        });

        connection.start().then(function () {
            connection.invoke("JoinGroup", @Model.Id);
        });

        $("#send-form").submit(function (e) {

            let groupId = $(this).find("input[name='GroupID']").val();
            let message = $(this).find("input[name='Message']").val();
            if (message.length > 0){
                console.log("Start ajax");
                $.ajax({
                    url: "/GroupMessage/Add/",
                    type: "Post",
                    dataType: "json",
                    data: { GroupID: groupId, Message: message},
                    success: function(data, status, xhr)
                    {
                        console.log(data);
                        connection.invoke("SendGroupMessage", data.id, data.groupId, data.username, data.avatar, data.message, data.time);
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error");
                    }
                });
            }

            e.preventDefault();
        });

    })

</script>