@{
    ViewData["Title"] = "UserProfile";
}

@model Profile
<link rel="stylesheet" href="~/css/StyleUserProfile/StyleUserProfile.css">

<div class="container">
    <div class="row profile">
        @* Avatar *@
        <div class="col-sm-4">
            <div class="card px-2">
                <div class="card-image avatar-box">
                    <a href="@Model.Avatar" target="_blank">
                        <img class="card-img" src="@Model.Avatar">
                    </a>
                </div>
                <div class="text-center">
                    <h4>
                        @ViewBag.LoginUser.Username
                    </h4>
                </div>
                <br>
                
                <form class="p-2 d-flex avatar-form" enctype="multipart/form-data" asp-action="UpdateAvatar" method="POST">
                    <input class="file-info" type="file" accept=".png,.jpg" name="imageFile">
                    <input class="file-info px-2" type="submit" value="Ok">
                </form>
            </div>
        </div>
        @* Profile *@
            <div class="col-sm-8">
                <div class="box">
                    <h3>Profile Information</h3>
                    <hr>
                    @if (Model.Account.RoleName == "Teacher")
                    {
                        TeacherProfile profile = (TeacherProfile)Model;
                        <div class="row">
                            <div class="col-sm-6">
                                <small><strong>FullName:</strong></small>
                                <p class="text-muted"> @profile.FullName</p>
                            </div>
                             <div class="col-sm-6">
                                <small><strong>Gender:</strong></small>
                                <p class="text-muted"> @profile.GenderText</p>
                            </div>
                            <div class="col-sm-6">
                                <small><strong>Birthday:</strong></small>
                                <p class="text-muted"> @profile.Birthday.ToShortDateString()</p>
                            </div>
                             <div class="col-sm-6">
                                <small><strong>Phone:</strong></small>
                                <p class="text-muted"> @profile.Phone</p>
                            </div>
                            <div class="col-sm-6">
                                <small><strong>Email:</strong></small>
                                <p class="text-muted"> @profile.Email</p>
                            </div>
                            
                            <div class="col-sm-12">
                                <h3>Major</h3>
                                <hr>
                            </div>
                            
                            <div class="col-sm-6">
                                <small><strong>TeacherCode:</strong></small>
                                <p class="text-muted"> @profile.TeacherCode</p>
                            </div>
                        </div>
                    }
                    else if (Model.Account.RoleName == "Student")

                    {
                        StudentProfile profile = (StudentProfile)Model;
                        <div class="row">
                            <div class="col-sm-6">
                                <small><strong>FullName:</strong></small>
                                <p class="text-muted"> @profile.FullName</p>
                            </div>
                             <div class="col-sm-6">
                                <small><strong>Gender:</strong></small>
                                <p class="text-muted"> @profile.GenderText</p>
                            </div>
                            <div class="col-sm-6">
                                <small><strong>Birthday:</strong></small>
                                <p class="text-muted"> @profile.Birthday.ToShortDateString()</p>
                            </div>
                             <div class="col-sm-6">
                                <small><strong>Phone:</strong></small>
                                <p class="text-muted"> @profile.Phone</p>
                            </div>
                            <div class="col-sm-6">
                                <small><strong>Email:</strong></small>
                                <p class="text-muted"> @profile.Email</p>
                            </div>
                            
                            <div class="col-sm-12">
                                <h3>Major</h3>
                                <hr>
                            </div>
                            
                            <div class="col-sm-6">
                                <small><strong>Major:</strong></small>
                                <p class="text-muted"> @profile.Major</p>
                            </div>
                             <div class="col-sm-6">
                                <small><strong>StudentCode:</strong></small>
                                <p class="text-muted"> @profile.StudentCode</p>
                            </div>
                            <div class="col-sm-6">
                                <small><strong>Class:</strong></small>
                                <p class="text-muted"> @profile.Class.Name</p>
                            </div>
                        </div>
                    }
                    <hr>
                    @if (Model.Account.Id == ViewBag.LoginUser.Id)
                    {
                        <div>
                            <a asp-controller="Home" class="button-3 text-decoration-none text-white">Back</a>
                            <a class="button-2 text-decoration-none text-white" asp-action="UpdatePassword">Update
                                Password</a>
                        </div>
                    }
                </div>
            </div>
    </div>
</div>

<script>

    $(document).ready(function(){

        $(".btn-edit-avatar").click(function(){
            $(".avatar-form").toggle();
        })

    })

</script>