@model UniChatApplication.Models.AdminProfile

@{
    ViewData["Title"] = "AdminProfile";
}
<link rel="stylesheet" href="~/css/cssPlus/buttonPlus.css">
<link rel="stylesheet" href="~/css/StyleAdminProfile.css">

<div class="background">
    <div class="container">
        <br>
        <div class="box-header">
            <h1 class="text-center">Admin Profile</h1>
        </div>
        <br>
        <div class="row">
            @* Avatar and username *@
            <div class="col-lg-4">
                <div class="box">
                    <img src="@Model.Avatar" alt="avatar" class="rounded-circle">
                    <h4 class="text-info">@Model.Account.Username</h4>
                </div>
            </div>
            
            @* Profile *@
            <div class="col-lg-8 ">
                <div class="box d-flex align-items-center">
                    <div class="w-100">

                        <div class="d-flex">
                            <h6 class="col-sm-4">Full Name: </h6>
                            <span class="col-sm-6 ">@Model.FullName</span>
                        </div>

                        <hr>
                        <div class="d-flex">
                            <h6 class="col-sm-4">Email: </h6>
                            <span class="col-sm-6 ">@Model.Email</span>
                        </div>

                        <hr>
                        <div class="d-flex">
                            <h6 class="col-sm-4">Phone: </h6>
                            <span class="col-sm-6 ">@Model.Phone</span>
                        </div>

                        <hr>
                        <div class="d-flex">
                            <h6 class="col-sm-4">Gender: </h6>
                            <span class="col-sm-6 ">@Model.GenderText</span>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <a class="button-1 text-decoration-none text-white">Đổi mật khẩu</a>
                            <a asp-action="Index" class="button-2 text-decoration-none text-white ml-auto">Admin
                                Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
