@model UniChatApplication.Models.AdminProfile

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }

    table {
        max-width: 800px;
    }

    h1 {
        font-weight: 600;
    }

    th,
    td {
        width: 50%;
    }

    .control {
        display: flex;
        gap: 1rem;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: auto;
    }
</style>

<div class="container">

    <h1 class="text-center">Admin Profile</h1>
    <hr>
    <table class="table table-bordered mx-auto mt-3">
        <tbody>
            <tr>
                <th>Avatar</th>
                <td>
                    <img src="@Model.Avatar" alt="Avatar">
                </td>
            </tr>
            <tr>
                <th>Username</th>
                <td>@Model.Account.Username</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Model.GenderText</td>
            </tr>
        </tbody>

        <tfoot class="text-center">
            <tr>
                <td>
                    <a asp-action="Index" class="btn btn-outline-primary">Back To Admin Manager</a>
                </td>
                <td>
                    <a class="btn btn-success ml-auto">Đổi mật khẩu</a>
                </td>
            </tr>
        </tfoot>

    </table>
</div>